@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

html {
	font-size: 16px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Heebo", sans-serif;
}

p,
span,
a {
	font-family: "Inter", sans-serif;
}
